.row {
  width: 100%;
  display: flex;
}

.sidebar {
  padding: 2%;
  width: 20%;
  height: 100%;
  background-color: #211656;
}

.sidebar span {
  font-size: 20px;
  margin-top: 20px;
  margin: 10px;
}

.container {
  background-color: white;
  column-count: 2;
  column-gap: 200px;
  display: block;
  margin: 0px auto;
  width: fit-content;
  margin-top: 100px;
}

.TopRow {
  height: 8em !important;
}
.main {
  width: 75%;
  padding: 10px;
  margin: 10px;
}
.Setting_Icon {
  float: right;
}

.missionBox {
  break-inside: avoid;
  text-align: center;
  page-break-inside: avoid;
  background-color: white;
  border: 2px solid #4651af;
  padding: 10px;
  margin-bottom: 4em;
  width: 250px;
  display: block;
}

.missionIcon {
  margin: 20px 0px;
}
.HARD_CODE_SHADE {
  background: #4a3f80;
}

.title {
  color: blue;
}
