
.container{
  background-color: white;
  column-count: 2;
  column-gap: 200px;
  display: block;
  margin-top: 100px;
  margin-left: 270px;
  width: fit-content;
}

.TopRow {
  height: 8em;
}
.canvas{
    padding: 10px;
    margin: 10px;
}
.Setting_Icon {
  float: right;
}

.title{
    color: blue;
}

.line{
    filter: alpha(opacity=100,finishopacity=0,style=3);
    width: 90%;
    color:#987cb9;
    size: 3;
}

.EmployeeMenu{
    color: black;
    padding: 0px;
    margin: 0;
    text-align: center;
}

#EmployeeList{
  padding: 0px;
}

.PageSubTitle{
    color: rgba(101, 107, 195, 1.0);
    font-size: 20px;
}

.ListWrapper{
    padding: 5px;
    height: 450px;
    overflow-y: scroll;


}
.ButtonWrapper{
    width: 10%;
    height: 500px;
    float: left;
    margin-right: 3%;
    padding-top: 80px;

}
.employeeList{
    width: 15%;
    height: 500px;
    margin-right: 3%;
    border: 5px solid rgba(101, 107, 195, 0.5);
    float: left;
}

.ListTitle{
    color: black;
    margin: 0;
    padding: 5px;
    font-size: 18px;
}

.UserInfo{
    width:77%;
    height: 500px;
    border: 5px solid rgba(101, 107, 195, 0.5);
    float:left;
}

.ExpenseInfo{
    width: 50%;
    height: 500px;
    border: 5px solid rgba(101, 107, 195, 0.5);
    float:left;
}

.inlineButton{
    width: 100%;
}

.informButton{
    padding-left: 45%;
}

.FormField{
    padding-left: 10px;
}