.invite-form {
  width: 35%;
  margin-left: 70px;
  margin-top: 40px;
  float: left;
}

.invitationStatusBox {
  width: 50%;
  float: right;
  margin-top: 80px;
}

.error_message {
  color: darkred;
}
