.Container {
  width: 30%;
  margin: 0 auto;
  margin-top: 150px;
  margin-bottom: 350px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: thin groove rgb(33, 85, 182);
}

.Reset_Container {
  width: 30%;
  margin: 0 auto;
  margin-top: 150px;
  margin-bottom: 500px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: thin groove rgb(33, 85, 182);
}

.SignUpField__Input {
  width: 80% !important;
  background-color: transparent;
  border: 1px groove hsla(0, 4%, 95%, 0.584);
  border-width: thin;
  font-size: 1em;
  font-weight: 300;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 10%;
}

.SignUpForm__Button {
  width: 80% !important;
  margin-left: 10%;
  background-color: rgb(147, 206, 52);
  color: white;
  border: none;
  padding: 15px 0px 15px 0px;
  font-size: 0.8em;
  font-weight: 500;
  margin-top: 10px;
}

.Succeed_message {
  color: #00a61b;
  margin-left: 50px;
  margin-top: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.Banner {
  color: red;
}
